html, body {
    margin: 0px;
    padding: 0px;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 10pt;
    background: #797978;
}

p {
    margin: 0px;
    padding: 0px;
}

.mainIcon {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
#page-container {
    width: 100%;
    max-width: 760px;
    margin: auto;
}

#header {
    background: #f2f2f2;
    height: 50px;
}

#messages {
    background: #FFFFFF;
    margin-right: 280px;
    height:500px;
    overflow-y: auto;
    padding: 10px 20px 0px 20px;
    box-sizing: border-box;
}

#users {
    float: right;
    width: 280px;
    height:500px;
    overflow-y: auto;
    background: #FFFFFF;
    border-left: solid 1px #f2f2f2;
    padding: 10px 20px 0px 20px;
    box-sizing: border-box;
}

#users p {
    padding-left: 20px;
}

#chatInput {
    background: #f2f2f2;
    clear: both;
    height: 25px;
    padding: 3px;
}

input {
    width: 100%;
    height: 25px;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

.channelTree {
    
}

.messageTime {
    color: #ccc;
}

.messageUserName {
    color: #27ae60;
    style: bold;
}

.messageText {

}