/* line 5, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Colors */
/* Colors - For Light Theme (default) */
/* Colors - For Dark Theme */
/*
$body-background: $cool-gray;
$header-color: $dark-blue;
$accent-color: $cool-dark-gray;
$content-background: $blue-gray;
*/
/* Fonts */
/* line 37, scss/style.scss */
html, body {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 10pt;
  background: #797978;
}

/* line 45, scss/style.scss */
p {
  margin: 0px;
  padding: 0px;
}

/* line 50, scss/style.scss */
.mainIcon {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

/* line 56, scss/style.scss */
#page-container {
  width: 100%;
  max-width: 760px;
  margin: auto;
}

/* line 62, scss/style.scss */
#header {
  background: #f2f2f2;
  height: 50px;
}

/* line 67, scss/style.scss */
#messages {
  background: #ffffff;
  margin-right: 280px;
  height: 500px;
  overflow-y: auto;
  padding: 10px 20px 0px 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 76, scss/style.scss */
#users {
  float: right;
  width: 280px;
  height: 500px;
  overflow-y: auto;
  background: #ffffff;
  border-left: solid 1px #f2f2f2;
  padding: 10px 20px 0px 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 87, scss/style.scss */
#selected {
  background: #f2f2f2;
}

/* line 91, scss/style.scss */
#users p {
  padding-left: 20px;
}

/* line 95, scss/style.scss */
#chatInput {
  background: #f2f2f2;
  clear: both;
  height: 25px;
  padding: 3px;
}

/* line 102, scss/style.scss */
input {
  width: 100%;
  height: 25px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 108, scss/style.scss */
ul {
  list-style-type: none;
}

/* line 116, scss/style.scss */
.messageTime {
  color: #d9d9d9;
}

/* line 120, scss/style.scss */
.messageUserName {
  color: #27ae60;
  font-weight: bold;
}

/* line 125, scss/style.scss */
.messageChannelName {
  color: #e67e22;
  font-weight: bold;
}

/* line 154, scss/style.scss */
input[type="checkbox"] {
  display: none;
}

/* line 159, scss/style.scss */
input[type="checkbox"] + label[for="config_network"] {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  display: inline-block;
  background: url("scss/assets/icons/config_network.png") no-repeat;
  background-size: 100%;
}

/* line 174, scss/style.scss */
input[type="checkbox"]:checked + label[for="config_network"] {
  background: url("scss/assets/icons/config_network.png") no-repeat;
  background-size: 100%;
}

/* line 159, scss/style.scss */
input[type="checkbox"] + label[for="information_icon"] {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  display: inline-block;
  background: url("scss/assets/icons/Information_icon.svg") no-repeat;
  background-size: 100%;
}

/* line 174, scss/style.scss */
input[type="checkbox"]:checked + label[for="information_icon"] {
  background: url("scss/assets/icons/Information_icon.svg") no-repeat;
  background-size: 100%;
}

/* line 159, scss/style.scss */
input[type="checkbox"] + label[for="muted_self"] {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  display: inline-block;
  background: url("scss/assets/icons/audio-input-microphone.svg") no-repeat;
  background-size: 100%;
}

/* line 174, scss/style.scss */
input[type="checkbox"]:checked + label[for="muted_self"] {
  background: url("scss/assets/icons/muted_self.svg") no-repeat;
  background-size: 100%;
}

/* line 159, scss/style.scss */
input[type="checkbox"] + label[for="deafened_self"] {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  display: inline-block;
  background: url("scss/assets/icons/self_undeafened.svg") no-repeat;
  background-size: 100%;
}

/* line 174, scss/style.scss */
input[type="checkbox"]:checked + label[for="deafened_self"] {
  background: url("scss/assets/icons/deafened_self.svg") no-repeat;
  background-size: 100%;
}

/* line 159, scss/style.scss */
input[type="checkbox"] + label[for="comment"] {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  display: inline-block;
  background: url("scss/assets/icons/comment.svg") no-repeat;
  background-size: 100%;
}

/* line 174, scss/style.scss */
input[type="checkbox"]:checked + label[for="comment"] {
  background: url("scss/assets/icons/comment.svg") no-repeat;
  background-size: 100%;
}

/* line 159, scss/style.scss */
input[type="checkbox"] + label[for="config_basic"] {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  display: inline-block;
  background: url("scss/assets/icons/config_basic.png") no-repeat;
  background-size: 100%;
}

/* line 174, scss/style.scss */
input[type="checkbox"]:checked + label[for="config_basic"] {
  background: url("scss/assets/icons/config_basic.png") no-repeat;
  background-size: 100%;
}
